.App {
  width: 300px;
  margin: auto;
  margin-top: 50px;
  background-color: #EFEFEF;
  padding: 12px;
  animation: App-logo-spin 1 1s linear;
  border-radius: 2;
  border: #CECECE 1px solid;
}

.Row {
    width: 100%;
}

.Row-data {
    width: 250px;
    text-align: left;
    border-bottom: #CECECE solid 1px;
    margin-bottom: 12px;
    color: #6E6E6E;
}

.Field {
    height: 24px;
    font-size: 16px;
}

.Button {
    height: 22px;
    margin-left: 8px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
